<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<string>0</string>
			<key>goods</key>
			<array>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>气垫跑鞋</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1000</real>
					<key>realPrice</key>
					<real>1000</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>耐克旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1000</real>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>3</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>卫裤</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>888</integer>
					<key>realPrice</key>
					<integer>888</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>耐克旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>888</integer>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>耐克旗舰店</string>
			<key>sid</key>
			<string>000</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>goods</key>
			<array>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>3</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>篮球鞋科比新款</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>899</integer>
					<key>realPrice</key>
					<integer>899</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>安踏旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>899</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>卫衣</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<integer>399</integer>
					<key>realPrice</key>
					<integer>399</integer>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>安踏旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<integer>399</integer>
					<key>userId</key>
					<string></string>
				</dict>
				<dict>
					<key>categoryId</key>
					<string>4aea47a653a2c7bc0153a2cdca680003</string>
					<key>count</key>
					<integer>1</integer>
					<key>goodsId</key>
					<string>11</string>
					<key>goodsName</key>
					<string>篮球服</string>
					<key>goodsType</key>
					<integer>0</integer>
					<key>id</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>orginalPrice</key>
					<real>1199</real>
					<key>realPrice</key>
					<real>1199</real>
					<key>shopId</key>
					<string>3</string>
					<key>shopName</key>
					<string>安踏旗舰店</string>
					<key>sid</key>
					<string>ff80808154ccbba30154ccf6bae90005</string>
					<key>total</key>
					<real>1199</real>
					<key>userId</key>
					<string></string>
				</dict>
			</array>
			<key>shopName</key>
			<string>安踏旗舰店</string>
			<key>sid</key>
			<string>001</string>
		</dict>
	</array>
	<key>success</key>
	<true/>
</dict>
</plist>
